* {
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #E5E5E5;
}

a {
    color: #52B6FF;
    text-decoration: none;
}

a:visited {
    color: #52B6FF;
}